.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .list {
    padding-inline-start: 0px;
    border: 1px solid black;
    width: 350px;
    margin-bottom: 20px;
    background-color: rgb(233, 233, 233);
    padding: 15px;
  }
  .text {
    margin-right: 15px;
  
    font-size: 18px;
    font-weight: 500;
  }
  .button {
    width: fit-content;
    background-color: rgb(255, 112, 112);
    border: 0.5px solid black;
    border-radius: 4px;
    height: 20px;
  }
  
  .button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border: transparent;
  }
  