.label {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .input {
    margin-top: 8px;
    height: 20px;
    border: 1px solid black;
  }
  
  .input:hover,
  input:focus {
    border: 1px solid rgba(4, 0, 255, 0.9);
  }
  